@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent-color: #ea580c;
}

@layer base {
  body {
    font-family: 'Space Grotesk', sans-serif;
  }

  code,
  pre,
  .font-mono {
    font-family: 'JetBrains Mono', monospace;
  }
}
