---
layout: base.njk
title: Início
---

{% include "partials/hero.njk" %}

<div class="flex flex-col gap-8">
  {% include "partials/about.njk" %}
  {% include "partials/services.njk" %}
  {% include "partials/projects.njk" %}
  {% include "partials/experience.njk" %}
</div>
