---
layout: base.njk
title: Início
---

{% include "partials/hero.njk" %}

<div class="flex flex-col">
  {% include "partials/hello.njk" %}
  {% include "partials/services.njk" %}
  {% include "partials/projects.njk" %}
  {% include "partials/stack.njk" %}
  {% include "partials/experience.njk" %}
</div>
