<section id="ola" class="mb-12">
  <h2 class="text-2xl font-bold mb-4">olá!</h2>
  <div class="flex flex-col gap-3 text-justify">
    {% for paragraph in profile.about %}
    <p>{{ paragraph }}</p>
    {% endfor %}
  </div>
</section>
