<nav class="mb-12">
  <ul class="list-none flex flex-row gap-5">
    <li><a class="hover:text-accent-hover transition-colors duration-300" href="#ola">olá</a></li>
    <li><a class="hover:text-accent-hover transition-colors duration-300" href="#servicos">serviços</a></li>
    <li><a class="hover:text-accent-hover transition-colors duration-300" href="#projetos">projetos</a></li>
    <li><a class="hover:text-accent-hover transition-colors duration-300" href="#experiencia">experiência</a></li>
  </ul>
</nav>
