<section id="servicos" class="mt-16">
  <h2 class="text-2xl font-bold mb-4">meus serviços</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    {% for service in profile.services %}
    <div class="border border-stone-800 rounded-lg p-5 hover:border-accent transition-colors duration-300">
      {% if service.icon == "api" %}
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-6 text-accent mb-2">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
        <path d="M3.6 9h16.8"></path>
        <path d="M3.6 15h16.8"></path>
        <path d="M11.5 3a17 17 0 0 0 0 18"></path>
        <path d="M12.5 3a17 17 0 0 1 0 18"></path>
      </svg>
      {% elif service.icon == "plug" %}
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-6 text-accent mb-2">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 6v-3"></path>
        <path d="M9 4v3"></path>
        <path d="M15 4v3"></path>
        <path d="M6 10a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v3a6 6 0 0 1 -6 6v0a6 6 0 0 1 -6 -6v-3z"></path>
        <path d="M12 17v3"></path>
      </svg>
      {% elif service.icon == "bot" %}
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="size-6 text-accent mb-2">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 8v-4"></path>
        <path d="M4 13a8 8 0 0 1 16 0v4a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-4z"></path>
        <circle cx="9" cy="12" r="1" fill="currentColor"></circle>
        <circle cx="15" cy="12" r="1" fill="currentColor"></circle>
      </svg>
      {% endif %}
      <h3 class="text-lg font-semibold mt-2 mb-2 text-accent">{{ service.title }}</h3>
      <p class="text-stone-300">{{ service.description }}</p>
    </div>
    {% endfor %}
  </div>
</section>
